<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django&Python</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/zzsc-demo.css">
    <style type="text/css">
		    #wrapper2 {
			    height: 300px;
			    width: 1000px;
			    max-width: 100%;
			    margin:20px auto;
		    }
    </style>
</head>
<body>
<!--导航-->
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index/">MyBlog</a>
        </div>
        <div>
            <ul class="nav navbar-nav" style="float: left">
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li><a href="/index/">主页</a></li>
                <li class="active"><a href="/movie/">电影</a></li>
                <li><a href="/novel/">小说</a></li>
                <li><a href="/music/">音乐</a></li>
                <li><a href="/picture/">图片</a></li>
            </ul>
        </div>
	</div>
</nav>
<!--轮播显示-->
<div class="zzsc-container">
	<div id='wrapper2'>
		<img src='../static/img/1.png'/>
		<img src='../static/img/2.png'/>
		<img src='../static/img/3.png'/>
		<img src='../static/img/4.png'/>
		<img src='../static/img/5.png'/>
		<img src='../static/img/6.png'/>
		<img src='../static/img/7.png'/>
		<img src='../static/img/8.png'/>
		<img src='../static/img/9.png'/>
	</div>
</div>

<script src="../static/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="../static/js/jquery-bigSlider.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('#wrapper2').bigSlider({
			focusType: 'enlarge',
			animationDuration: 400
		});
	});
</script>
</body>
</html>