<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django&Python</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script type="text/javascript" src="http://cdn.gbtags.com/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.gbtags.com/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
</head>
<body>
<!--导航-->
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index/">MyBlog</a>
        </div>
        <div>
            <ul class="nav navbar-nav" style="float: left">
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li><a href="/index/">主页</a></li>
                <li class="active"><a href="/movie/">电影</a></li>
                <li><a href="/novel/">小说</a></li>
                <li><a href="/music/">音乐</a></li>
                <li><a href="/picture/">图片</a></li>
            </ul>
        </div>
	</div>
</nav>
<!--轮播显示-->
<div class="container">
    <div class="col-md-12">
        <div class="well">
            <div id="imgCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://www.gbtags.com/gb/networks/themes/img/mobilelogo.png" alt="Image" class="img-responsive"></a>

                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner-->

                <a class="left carousel-control" href="#imgCarousel" data-slide="prev"></a>

                <a class="right carousel-control" href="#imgCarousel" data-slide="next"></a>

            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>


</body>
</html>